.flipmenu {
	position: relative;
	background: url(../images/bg.png);
	line-height: 40px;
	
}

.flipmenu_box {
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin-left: 5px;
}

.flipmenu_link,
.flipmenu_link_over,
.flipmenu_link_active {
    text-decoration: none;
    color: #cc3399;
    cursor: pointer;
    white-space: pre;
    position: absolute;
}

.flipmenu_link {
    top: 0px;
    left: 0px;
}

.flipmenu_link_active:hover,
.flipmenu_link_active {
	color: #fff;
	font-weight: bold;
}
